#TTris {
    background-color: #bef093;
}

.absoluteCenter {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.playground {
    height:100%;
    width:100%;
}
.test{
    height:1300px;
    width:1300px;
}
.fpsmeter {
    padding: 0;
    margin: 0;
    text-align: center;
}
.fpsmeter p {
    margin-top: 0px;
    margin-bottom: 0px;
}